bin/cc
bin/classes
bin/libs
bin/artvertiserServer
bin/artvertiserServer_debug
bin/www
bin/upload
bin/data/adverts/*
bin/data/testdata/*
obj
gen
local.properties
.settings
.externalToolBuilders
libOFAndroidApp.so
*.apk
*.ap_
*.dex
